<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment">
    <meta charset="utf-8">
    <title th:text="|${configurations.get('websiteName')} - ${pageName}|">首页</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="_top" http-equiv="Window-target"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
</head>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" th:fragment="nav-fragment">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button class="navbar-toggle" data-for="toggle-items" type="button">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:text="${configurations.get('websiteName')}">
            </a>
        </div>
        <div class="navbar-collapse" id="toggle-items" style="display: none;">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a th:href="@{/index}">首页</a>
                </li>
                <li>
                    <a th:href="@{/link}">友链</a>
                </li>
                <li>
                    <a th:href="@{/about}">关于</a>
                </li>
                <li>
                    <a href="http://localhost:8080/admin/login">后台登录</a>
                </li>
            </ul>
        </div>
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/index}">首页</a>
                    </li>
                    <li>
                        <a th:href="@{/link}">友链</a>
                    </li>
                    <li>
                        <a href="http://localhost:8080/admin/login">后台登录</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
        <script th:src="@{/blog/default/js/jquery.min.js}"></script>
        <script>
            $(function () {
                $('.navbar-toggle').click(function () {
                    $('#toggle-items').fadeToggle("fast");
                });
            })
        </script>
    </div>
    <!-- /.container -->
</nav>
<header class="intro-header" th:fragment="header-fragment"
        th:style="'background-image:url(' + @{/blog/amaze/images/header.jpg} + ');'">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <span class="subheading">
                        世界因你而美好
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
</html>
